.div01 {
  height: 2rem;
  /* 渐变色  deg表示角度 */
  background: linear-gradient(90deg,
      rgba(220, 0, 0, 0.6) 20%,
      #ddb975 80%, #ffffff);
}

.div02 {
  width: 100px;
  height: 100px;
  background-color: #bda06b;
  margin: 5px;
}

.transform01 {
  /* rotate旋转 */
  transform: rotate(45deg);
}

.transform02 {
  /* scale压缩(有X轴和Y轴) */
  transform: scale(1.5, 1);
}

.transform03 {
  /* translate移动位置(横移 竖移)*/
  transform: translate(100px, -10px);
}

.transform04 {
  /* 组合变形 */
  transform: translate(50%, 50%) rotate(45deg) scaleX(0.5);
}
